.container {

  .card {
    display: flex;
    flex-direction: column;
    height: 124px;
    padding: 20px 0 0 20px;
    position: relative;
    float: left;
    right: -344px; 
    top: 120px;

    background-color: white;

    &__item-title {
      margin: 0;
    }

    &__item {
      position: relative;
      bottom: 50px;
    }

    &__progress-bar-value {
      position: relative;
      bottom: 50px;
      left: -46px;
    }

    &__item-body {
      display: flex;
      flex-direction: row;

      font-weight: 600;
      white-space: pre;
      font-size: 24px;

      &_left {
        color: black;
      }

      &_right {       
        color: grey;
      }
    }
  }

  .progress-next-percent {
    position: relative;
    float: left;
    top: 110px;
    left: 280px;
  }

}


body {
  margin: 0;
}


.progress-ring__circle {
  stroke-dasharray: 728  728; // 1% == 7.27
  stroke-dashoffset: 0;
}

.progress-ring__circle-orange {
  stroke-dasharray: 527 527;
  stroke-dashoffset: 0; //1% == 5,27  395.25
}
